@font-face{
  font-family: 'monkirta';
  src: url('monkirta_pursuit_nc-webfont.eot');
  src: url('monkirta_pursuit_nc-webfont.eot?#iefix') format('embedded-opentype'),
  url('monkirta_pursuit_nc-webfont.woff') format('woff'),
  url('monkirta_pursuit_nc-webfont.ttf') format('truetype'),
  url('monkirta_pursuit_nc-webfont.svg#webfont') format('svg');
}

@mixin filter( $var ) {
	-webkit-filter: $var;
	-moz-filter: $var;
	-ms-filter: $var;
	-o-filter: $var;
	filter: $var;
}

html {
  height: 100%;
}
body {
  color: #eef;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-weight: 100;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

.bg-img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-size: 130%;
  background-position-x: center;
  background-position-y: 25%;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  @include filter(blur(6px) brightness(0.25));
  &.card-type-ice { background-position-y: 75%; }
  &.card-type-asset { background-position-y: 18%; }
  &.card-type-program { background-position-y: 18%; }
}

pre {
  font-family: Helvetica Neue, Helvetica, Arial;
}

header {
  width: 100%;
  font-size: 50px;
  padding-left: 5px;
  border-bottom: solid 1px black;
  background-color: rgba(200, 200, 200, 0.5);
  font-family: monkirta;
  color: #fff;
  text-align: center;
  padding: 10px;
  .sub-header {
    font-size: 30px;
    color: #150053;
  }
}

.card_title {
  font-variant: small-caps;
  font-size: 60px;
  font-weight: 200;
  margin: 35px;
}
.card_subtitle {
  font-weight: 200;
  .card_type {
    font-size: 31px;
    text-transform: uppercase;
    font-family: monkirta;
  }
}
.card_text {
  text-align: justify;
  max-width: 350px;
  margin: 20px auto;
  white-space: pre-line;
  line-height: 170%;
  font-size: 20px;
}

.container {
  height: 100%;
  text-align: center;
}

.card_img {
  box-shadow: 0px 0px 60px #fff;
  border-radius: 16px;
}


.card_faction[faction="neutral"] {
  color: #ccc;
}

.card_faction[faction="shaper"] {
  color: #cfc;
}

.card_faction[faction="criminal"] {
  color: #9be;
}

.card_faction[faction="anarch"] {
  color: #ff744a;
}

.card_faction[faction="jinteki"] {
  color: #ad5738;
}

.card_faction[faction="nbn"] {
  color: #ff9;
}

.card_faction[faction="haas-bioroid"] {
  color: #fcf;
}

.card_faction[faction="weyland consortium"] {
  color: #ccc;
}
